body {
    background-color: beige;
    font-family: "Unkempt", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
}


img {
    height: 100%;
    width: 150px;
}

button {
    background-color: #E65C50;
}

.regles {
    background-color: beige
}

.buttonRegles {
    background-color: #9dd1bf;
}